body{
    width: 100%;
    height: 100vh;
    
    margin: 0px;
}
.background{
    background-image: url(../img/imgint.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
*,*:before,*:after {
    /* indique au navigateur de prendre en compte 
    la bordure et le remplissage dans la valeur définie 
    pour la largeur et la hauteur.*/
    box-sizing: border-box;
}
/* travaillons maintenans la section des écris de la page index*/
:after {
/* juste pour un bug*/
content: "";
}
/*suivons avec la nav-bar car elle se trouve sur toute les pages */
.navbar {
/* nous allons lui donnez un effet flottant et une position et un fonds transparent*/
float: left;
position: relative;
top: -100px;
left: 50px;
background: transparent;
z-index: 10;
}
ul{
list-style-type: none;
}
/* touchons un coup a la liste non ordonné de la navbar */
.navbar .ul-nav {
text-align: center;
}
/* nous allons commencé avec les balise génerale 
des liste a puce ordonnée mais nous reviendrons individuellement dessus plus tard  */

nav ul li {
/* commencons par lui assigné sa posioton et la place qu'elle va prendre 
placons le bagckground sa couleur et modifion le texte*/
position: relative;
top: 200px;
left: 0px;
width: 70px;
height: 60px;
cursor: pointer;
background: transparent;
text-transform: uppercase;
/* la j'ai du debug avec l'aide d'un dev pro*/
transition:all .4s ease-out;
}
/* nous allons commencé avec les ellement parent enfant
en les etablissent avec leur diférence fonction*/

nav ul li:after {
position: absolute;
color: #A5B5AE;
top:0;
left: 70px;
width: 70px; 
height: 60px;
opacity:.5;
transform: perspective(400px) rotateY(90deg);
transform-origin: 0 100%;
transition:all .4s ease-out;
}
.ul-nav li:nth-child(1):after { 
content: "Home";
line-height: 65px;
}
.ul-nav li:nth-child(2):after { 
content: "Interview";
line-height: 65px;
}
.ul-nav li:nth-child(3):after { 
content: "Expo";
line-height: 65px;
}

nav .ul-nav li:hover {
transform: translateX(-70px);
}

nav .ul-nav li:hover:after {
opacity: 1;
transform: perspective(400px) rotateY(0deg) scale(1) ;
}
/* replacons la div nav bar avec ces eccart */
nav ul li > div {
display: inline-block;
padding: 25px 0;
background: transparent;
}

nav ul li div {
position: relative;
}

/* nous allons créé maintetnan les logo a l'interieur de nos cube déroulant 
on démare avec la page index et le fond du toit vous allez comprendre les parents maintenant*/
.roof {
width: 0;
height: 0;
top:5px;
left: 14px;
border-style: solid;
border-width: 0 21px 15px 21px;
border-color: transparent transparent #ffffff transparent;
}
/* un petit triangle pour faire un toit fin */
.roof-edge {
position: absolute;
z-index: 20;
left: -17px;
top: 5px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 17px 12px 17px;
border-color: transparent transparent #A5B5AE transparent;
}
/* et rajouton un autre triangle pour faire la structure du toit */
.roof-edge:after {
position: absolute;
left: -14.5px;
top: 3px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 14.5px 10px 14.5px;
border-color: transparent transparent white transparent;
}
/* faisons la facade de la maison */
.front {
position: relative;
top: 7px;
width: 28.5px;
height: 20px;
margin: 0 auto;
background: white;
}
/* ajutons lui une porte */
.front:after {
position: absolute;
background: #A5B5AE;
width: 11px;
height: 13px;
bottom: 0;
left:9px;
}

/* place au logo de la page interview  en premier le fond */
.head {
width: 32px;
height: 35px;
top: 9px;
left: 20px;
background: white;
border-radius:8px;
}
/*oeil gauche*/
.eyes {
width: 8px;
height: 5px;
border-radius: 50%;
position: absolute;
top: 10px;
left: 5px;
background: #A5B5AE;
}
/*oeil droit*/
.eyes:after {
width: 8px;
height: 5px;
border-radius: 50%;
position: absolute;
top: 0;
left: 14px;
background: #A5B5AE;
}
/* on va lui donner une barbe */
.beard {
width: 32px;
height: 17px;
background: #A5B5AE;
border:2px solid white;
position: absolute;
bottom: 0;
left: 0;
border-radius:0 0 8px 8px;
}
/* en parent de la barbe placon le nez*/
.beard:after {
position: absolute;
top:-2px;
left: 11px;
background: white;
width:6px;
height: 4px;
border-left:1px solid #A5B5AE;
border-right:1px solid #A5B5AE;
}
/* rajoutons lui une bouche le pauvre */
.head:after {
width: 4px;
height: 10px;
background: white;
position: absolute;
border-radius:4px 0 0 4px;
top:21px;
left: 14px;
transform:rotate(270deg);
}

/* passons au dernier la page de l'exposition en premier comme toujours le fond */
.paper {
position: relative;
height:32px;
width: 29px;
top: 10px;
left: 20px;
background: white;
border:2px solid white;
}
/*mettons une section titre*/
.paper:after {
position: absolute;
top:1px;
left: 0px;
width: 25px;
height: 29px;
background: white;
border-top:4px solid #A5B5AE;
}
/* rajouton quelque ligne de paragraphe en utulisant les parents expliqué plus haut pour completé */
.lines {
position: absolute;
top: 16px;
left: 30px;
width: 0px;
box-shadow: 0 0 0 1px #A5B5AE;
}
.lines:after {
position: absolute;
top: 4px;
left: 3px;
width: 14px;
box-shadow: 0 0 0 1px #A5B5AE;
}

.lines:nth-child(2) {
position: absolute;
top: 25px;
left: 25px;
width: 11px;
}

.lines:nth-child(2):after {
position: absolute;
top: 4px;
left: -3px;
width: 11px;
}

.lines:nth-child(3) {
position: absolute;
top: 35px;
left: 29px;
width: 14px;
}

.lines:nth-child(3):after {
display: none;
}
* {
	box-sizing: border-box;
}



h2 {
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	margin-top: 0px;
}

.chat-container {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
	overflow: hidden;
	padding: 20px;
	position: relative;
	justify-content: center;
	width: 1200px;
	height: 600px;
	max-width: 100%;
	overflow: scroll;
	left: 350px;
	top: 50px;
}

.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.message {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.5);
	position: relative;
	margin-bottom: 30px;
}

.message.left {
	padding: 15px 20px 15px 70px;
}

.message.right {
	align-self: flex-end;
	padding: 15px 70px 15px 20px;
}

.logo {
	border-radius: 50%;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
	object-fit: cover;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 50px;
	height: 50px;
}

.message.right .logo {
	left: auto;
	right: 10px;
}

.message p {
	margin: 0;
}

.text_input {
	font-size: 16px;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
	width: 100%;
	border-radius: 15%;
}
.conclusion{
	text-align: center;
	display: flex;
	position: relative;
	background-color: rgba(255, 255, 255, 0.685);
	border-radius: 5%;
    margin-left: 500px;
    margin-right: 300px;
	margin-top: 150px;
	margin-bottom: 400px;
}